@import '~antd/dist/antd.css';

.App {
  width: 80%;
  margin: 30px auto;
  border: 1px solid #f0f0f0;
}

.title {
  text-align: center;
  margin-top: 16px;
}

.loading-container {
  text-align: center;
  padding: 50px;
}

.input-container {
  padding: 16px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.container > * {
  width: 30%;
}

/* ANTD */
.ant-collapse-header {
  font-weight: bold;
}